h4{
  font-size: 15px

}

nav {
  display: flex;
  justify-content: space-between;
  color: #7a797a;
  box-shadow: #363238;
  padding: 5px;
  font-size: larger;
  margin: 2%;
  border-radius: 5px;

}

nav a:hover {
  border:solid #9d9087;
  background-color: #9d9087;
  border-right-width: 5px;
  border-left-width: 5px;
}


a{
  transition: 0.5s;
  text-decoration: none;
  color: silver;
}

body, .style{
  color: #E1E2E2;
  background-color: #000000;
  height: 100vh;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: automatically;
}
hr {
  scroll-behavior: smooth;
  border: wheat;
  border-top: 5px dotted;
  width: 90%;
  color: #7a797a;
  /* padding: 50px; */
}
.textt
  ::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

input{
  background-color: #363238;
}
img {
  border-radius: 50%;
}

table, th, td {
  /* border:1px solid black; */
  /* background-color: #2a3526; */
  text-align: start;
  
  padding-right: 40px;
  /* padding-left: 10px; */
  /* padding-bottom: 10px; */ 
}

div{
  padding: 10px;
  padding-left: 10;
  padding-top: 10;
  padding-bottom: 10;
  padding-right: 10;
}
h1 {
  font-display: fallback;
}
.table_container{
  display: flex;
  justify-content: space-between;
}


.right {
  padding: 15px;
  width: 20%;
  background-color: #242424;
}

input {
  background-color: aliceblue;
}

textarea {
  background-color: aliceblue;
  border-radius: 4%;
}

.underline{
  text-decoration: underline;
}


.empty_field {
  color: red;
}

.white {
  /* background-color: #7a797a; */
  width: 30%;
}


button:hover{
  border-width: 5px;
  border-color: aquamarine;
  background-color: bisque;
}
.center {
  display: flex;
  justify-content: center;
}